# ------------------------
# Global - Project Level
# ------------------------

# macOS
.DS_Store

# Logs
*.log

# Python bytecode
__pycache__/
*.pyc

# Environment folders
env/
venv/

.env/

# Python compiled files
*.so
.Python

# IDE/editor settings
.vscode/
.idea/

# Node modules (for React)
frontend/node_modules/
frontend/build/

# React environment variables
frontend/.env

# Flask-specific environment files
myenv/*
myenv/Lib/site-packages/torch/lib/torch_cpu.dll
myenv/Lib/site-packages/torch/lib/dnnl.lib

# Common dependency folders (CV-related)
**/cv2/
**/paddle/
**/torch/
**/tensorflow/

# Git
*.swp
*.swo

# Test/coverage
coverage/
*.coverage
*.egg-info/

# Other tools (if using)
*.sqlite3
*.db

# Ignore VSCode workspace files
*.code-workspace
